.button {
  padding: 12px 28px;
  font-family: 'Kurochkalapkoi', sans-serif;
  @include font(16px);
  color: $black;
  background-color: $ember;
  border: none;
  border-radius: 4px;
  transition: $transition;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $ember-dark;
  }

  &:active {
    background-color: $orange;
  }

  &_disabled {
    background-color: $ember-light;
    color: $grey-light;
    cursor: default;

    &:hover,
    &:active {
      background-color: $ember-light;
    }
  }
}