.home {
  @include flex(column);
  align-items: center;
  padding: 20px 40px;
  background-color: $ember-light;
  border-radius: 4px;

  &__form {
    margin-bottom: 10px;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -25%);

    &-wrapper {
      @include size(100%, 100px);
      position: relative;
    }
  }
}

@media screen and (max-width: 768px) {
  .home {
    padding: 16px 10px;

    &__image {
      height: 100px;

      &-wrapper {
        height: 50px;
      }
    }
  }
}