.input {
  @include size(350px, 40px);
  outline: none;
  padding: 6px 12px;
  border: 2px solid $ember;
  border-radius: 4px;
  margin-top: 4px;

  &:active,
  &:focus {
    border-color: $ember-dark;
  }

  @include placeholder {
    @include font(18px);
    font-family: 'Kurochkalapkoi', sans-serif;
    color: $ember;
  }

  &_wrapper {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  &__label,
  &__error {
    @include font(16px);
  }

  &__label {
    @include flex(column);
  }

  &_error {
    border-color: $red;
  }

  &__error {
    color: $red;
    position: absolute;
    top: 66px;
    left: 0;
  }
}

@media screen and (max-width: 768px) {
  .input {
    max-width: 300px;
  }
}