@import "variables";
@import "fonts";
@import "reset";
@import "mixins";
@import "inputs";
@import "buttons";
@import "success-pupup";
@import "home-page";

#app {
  @include size(100%, 100%);
  min-height: 100vh;
  @include flex();
  align-items: center;
  justify-content: center;
}