@mixin flex($flex-direction: row, $flex-wrap: nowrap, $flex-display: flex) {
  display: $flex-display;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
}

@mixin size($width, $height: null) {
  width: $width;
  height: $height;
}

@mixin font($font-size, $line-height: normal, $font-weight: normal, $letter-spacing: 1px) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
