.success {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $white-a;
  @include flex();
  align-items: center;
  justify-content: center;

  &__popup {
    background-color: $white;
    border: 1px solid $ember-dark;
    border-radius: 4px;
    position: relative;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    @include font(30px);
    color: $ember-dark;
    user-select: none;
    cursor: pointer;
    transition: $transition;

    &:hover,
    &:active {
      color: $red;
    }
  }
}

@media screen and (max-width: 768px) {
  .success {
    &__image {
      max-width: 300px;
    }
  }
}