$red: #F44336;
$orange: #FF5722;
$ember-dark: #FFA000;
$ember: #FFC107;
$ember-light: #FFECB3;
$black: #212121;
$grey: #757575;
$grey-light: #BDBDBD;
$white: #FFF;
$white-a: rgba(255, 255, 255, 0.8);

$transition: all .5s ease;

$assets: '~@/assets/';