<template>
    <div class="home">
        <div class="home__image-wrapper">
            <img src="../assets/images/TOP.gif" alt="image" class="home__image"/>
        </div>
        <div class="home__form">
            <InputComponent v-model="name"
                            :regExp="/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/"
                            type="text"
                            id="name"
                            name="name"
                            label="Ваше имя"
                            placeholder="Джек"
                            error="Безымянным вход воспрещен!"/>
            <InputComponent v-model="surname"
                            type="text"
                            id="surname"
                            name="surname"
                            label="Ваша фамилия"
                            placeholder="Воробей"
                            error="И фалилию не забудь!"/>
            <InputComponent v-model="email"
                            type="email"
                            id="email"
                            name="email"
                            label="Ваша электронная почта"
                            placeholder="jack-sparrow@captain.com"
                            error="Поле не заполнено или заполнено неверно"/>
            <InputComponent v-model="password"
                            type="password"
                            id="password"
                            name="password"
                            label="Введите пароль"
                            placeholder="-----"
                            error="Пароль должен состоять из букв и цифр"/>
            <InputComponent v-model="confirmPassword"
                            type="password"
                            id="confirmPassword"
                            name="confirmPassword"
                            label="Повторите пароль"
                            placeholder="-----"
                            error="Пароль не совпадает"/>
        </div>
        <ButtonComponent v-on:click="checkFilledField" text="Отправить"/>
        <Success v-if="$popup.show"/>
    </div>
</template>

<script>
    import InputComponent from "../components/InputComponent";
    import ButtonComponent from "../components/ButtonComponent";
    import Success from "../components/Success";


    export default {
        name: 'home',
        components: {ButtonComponent, InputComponent, Success},
        data() {
            return {
                name: '',
                surname: '',
                email: '',
                password: '',
                confirmPassword: '',
                pass: '',
                errors: [],
            }
        },
        computed: {

        },
        methods: {
            checkFilledField() {
                if (this.name && this.surname && this.email && this.pass) {
                    //commit - ведет к мутациям, т.е. выполняет сразу без ожидания выполнения promise
                    this.$store.commit('SET_SHOW_POPUP');
                }
            }
        }
    }
</script>
