<template>
    <button v-on:click="$emit('click', $event)" class="button">{{text}}</button>
</template>

<script>
    export default {
        name: "ButtonComponent",
        props: {
            text: {
                type: String,
                required: true,
            },
            disabled: {
                type: Boolean,
                default: false,
            },
        },
    }
</script>