<template>
    <div class="input_wrapper">
        <label :for="name" class="input__label">{{label}}
            <input :type="type"
                   :id="id" :name="name"
                   :placeholder="placeholder"
                   :value="value"
                   v-on:input="handleInput"
                   v-on:blur="handleBlur"
                   class="input"/>
        </label>
        <span class="input__error">{{error}}</span>
    </div>
</template>

<script>
    export default {
        name: "InputComponent",
        props: {
            placeholder: {
                type: String,
                required: false,
                default: ''
            },
            label: {
                type: String,
                required: false,
                default: ''
            },
            error: {
                type: String,
                required: false,
                default: 'Ошибка'
            },
            id: {
                type: String,
                required: true
            },
            name: {
                type: String,
                required: true
            },
            type: {
                type: String,
                required: true
            },
            value: {},
            regExp: {
                type: RegExp,
            }
        },
        methods: {
            handleBlur(e) {
                this.regExp.test(e.target.value);
            },
            handleInput(e) {
                this.$emit('input', e.target.value)
            }
        }
    }
</script>
