<template>
    <div class="success">
        <div class="success__popup">
            <img src="../assets/images/THX.gif" alt="image" class="success__image"/>
            <div v-on:click="close" class="success__close">X</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Success",
        methods: {
            close() {
                this.$store.commit('SET_HIDE_POPUP')
            }
        }
    }
</script>